NEXT_PUBLIC_URL=

NEXT_PUBLIC_GOOGLE_ANALYTICS=
NEXT_PUBLIC_FATHOM_SITE_ID=

NEXT_PUBLIC_INSTANTSEARCH_URL=
NEXT_PUBLIC_INSTANTSEARCH_SEARCH_API_KEY=

DIRECTUS_URL=
DIRECTUS_API_TOKEN=


RESEND_API_KEY=
